/** Grid Styles **/

.fuzzGrid {
  width: 100%;
  padding-left: 4px;
}
.fuzzGrid td {
  word-break: break-word;
  padding: 4px 6px;
}
.fuzzGrid th {
  text-align: left;
  padding: 4px 6px;
}
td.fuzzGridCellPinned,
td.fuzzGridCellPin {
  text-align: center;
}
th.fuzzGridCellPinned,
th.fuzzGridCellPin {
  text-align: center;
}

td.fuzzGridCellPin {
  opacity: 0%;
}
td.fuzzGridCellPinned,
td.fuzzGridCellPin:hover {
  opacity: 100%;
}

/** Tooltips: adapted from: https://www.w3schools.com/css/css_tooltip.asp **/

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-left .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}

.tooltip-left .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip-top .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-top .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.columnSortDesc::after {
  content: "    ▼";
}

.columnSortAsc::after {
  content: "    ▲";
}

/* .columnSortNone::after {
  content: "    ▲";
  color: black;
} */
