name: Build
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  buildandtest:
    runs-on: ubuntu-latest
    steps:
      # Visual Studio Code Extension
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: yarn
      - name: Install packages
        run: yarn
      - name: Run all builds
        run: yarn build
      - name: Run all tests
        run: yarn test

      # npm runtime package
      - name: Install packages
        working-directory: packages/runtime
        run: yarn
      - name: Check for matching version numbers
        working-directory: packages/runtime
        run: yarn run checkver
      - name: Build npm package
        working-directory: packages/runtime
        run: yarn build
